.ticker {
    &__content {
        &[data-title]::before {
            display: block;

            font-size: var(--font-size-1);
            color: var(--theme-text--dark);

            content: attr(data-title);

            letter-spacing: 2px;
            text-transform: uppercase;
        }

        display: inline;

        font-size: var(--font-size-3);

        letter-spacing: 1px;
        line-height: 100%;
    }
}
