.ticker {
    &__content {
        display: inline-flex;

        flex-direction: column;

        &[data-title]::before {
            display: block;

            font-size: var(--font-size-1);
            color: var(--theme-text--dark);

            content: attr(data-title);

            letter-spacing: 2px;
            text-transform: uppercase;
        }

        &::after {
            content: '';

            display: block;

            margin-top: 0.25rem;

            border: #{1 / 16 * 1rem} solid var(--color, var(--theme-text--dark));
            border-radius: 1rem;

            transition: 100ms;
            transform: translateX(var(--ticker-underline-pos, -100%));
        }

        &:hover {
            --ticker-underline-pos: 0;
        }

        font-size: var(--font-size-3);

        line-height: 100%;
    }
}
