@font-face {
    font-family: Dosis;
    src: url(../../../fonts/Dosis/Dosis-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../../../fonts/Roboto/Roboto-Regular.ttf);
}

.ticker {
    /* TITLE */
    &[data-title]::before {
        $spacer-gap: 0.3rem;

        font-family: Roboto, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        // Lower and darken title to draw attention to value
        font-size: 0.88rem; // match height to the droop/overhang of '1' '2' '3' '6' '7' on Dosis-Regular font
        color: var(--theme-text--dark);

        content: attr(data-title);

        margin-right: $spacer-gap;
        letter-spacing: 0px;

        text-transform: uppercase;
    }

    /* VALUE */
    display: inline; // p tags are 'block' by default and take too much space

    font-family: Dosis, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem; // Enlarge number because users care about this number

    letter-spacing: 1px;
    line-height: 100%;
}
