.list {
    &__row {
        display: grid;

        grid-auto-flow: column;
        grid-auto-columns: 1fr;

        padding: 0.25rem;

        &--head {
            font-size: var(--font-size-3);

            border-bottom: 1px solid #CCCCCC;
        }

        &--body {
            font-size: var(--font-size-1);

            &:nth-child(odd) {
                background-color: rgba(white, 0.1);
            }
        }
    }

    &__category {
        white-space: nowrap;
    }
}
