.list {
    &__row {
        display: grid;

        grid-auto-flow: column;
        grid-auto-columns: 1fr;

        padding: var(--list__row__padding, 0.25rem);

        &--head {
            font-size: var(--font-size-3);

            border-bottom: 1px solid #CCCCCC;
        }

        &--body {
            font-size: var(--font-size-1);

            background-color: var(--list__row__background-color);

            &:nth-child(odd) {
                background-color: var(--list__row__background-color, rgba(white, 0.1));
            }
        }
    }

    &__category {
        white-space: nowrap;
    }
}
