@import './util.scss';

$theme-background: #08081A;

$theme-primary: #FF9900;
$theme-secondary: complement($theme-primary);

$theme-text: #E8E8E8;
$theme-text--dark: #7A7A7A;

$theme-success: #00C800;
$theme-fail: #B40000;

$container-gutter: 1.75rem;

@font-face {
    font-family: Roboto, sans-serif;
    src: url(../../resources/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Dosis, sans-serif;
    src: url(../../resources/fonts/Dosis/Dosis-Regular.ttf);
}

:root {
    --theme-background: #{$theme-background};

    --theme-primary: #{$theme-primary};
    --theme-secondary: #{$theme-secondary};

    --theme-text: #{$theme-text};
    --theme-text--dark: #{$theme-text--dark};

    --theme-success: #{$theme-success};
    --theme-fail: #{$theme-fail};

    --theme-interact: #{$theme-primary};
    --theme-interact--disabled: #{$theme-text--dark};

    --utility-container-gutter: #{$container-gutter};

    @include fontScale(1rem, 16 / 13, 10, 1);
}

* {
    margin: 0;
    padding: 0;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: var(--theme-background);

    color: var(--theme-text);
}

.container {
    width: calc(100vw - (var(--utility-container-gutter) * 2));
    max-width: 100vw;

    margin: 0 auto;
}
