@function pow($base, $exponent) {
    $result: 1;

    @if ($exponent > 0) {
        @for $i from 1 through $exponent {
            $result: $result * $base;
        }
    }

    @if ($exponent < 0) {
        @for $i from $exponent through -1 {
            $result: $result / $base;
        }
    }

    @return $result;
}

@mixin fontScale($initialValue, $scale, $length, $offset: 0) {
    $value: $initialValue / pow($scale, $offset);

    --font-scale: #{$scale};
    @for $i from 1 through $length {
        @if ($i == 1) {
            --font-size-#{$i}: #{$value};
        } @else {
            --font-size-#{$i}: calc(var(--font-size-#{$i - 1}) * var(--font-scale));
        }
    }
}
