@function pow($base, $exponent) {
    $result: 1;

    @if ($exponent > 0) {
        @for $i from 1 through $exponent {
            $result: $result * $base;
        }
    }

    @if ($exponent < 0) {
        @for $i from $exponent through -1 {
            $result: $result / $base;
        }
    }

    @return $result;
}

@mixin fontScale($initialValue, $scale, $length, $offset: 0) {
    @for $i from 1 through $length {
        --font-size-#{$i}: #{$initialValue * pow($scale, ($offset * -1) + $i - 1)};
    }
}
